<article class="post-list h-feed">
    <div class="post-header">
        <header>
            {{ with .Params.featured_image }}<img class="summary-header" src="{{ . }}">{{ end }}
            <h1 class="p-name"><a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " | markdownify }}</a></h1>
        </header>
        {{ partial "post-language-switcher.html" . }}
    </div>

    {{ if not .Site.Params.disableSummary }}
        <div class="content post-summary p-summary">
            {{ .Summary | safeHTML }}
        </div>
    {{ end }}
    {{ if and (.Truncated) (.Site.Params.readMore) }}
        <div class="read-more">
            <a class="u-url" href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
        </div>
    {{ end }}
    
    {{ partial "post-info.html" . }}
</article>